/* //////////////////////
// Bikes Website 
// the net ninja CSS course 
// Date : 15/04/2020
/////////////////////////
*/

body{
    font-family: arial;
    margin: 0;
    background-color: #eee;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
    background: #fff;
}

#main-navigation {
    background: #181818;
    padding: 10px;
}

#main-navigation ul {
    text-align: right;
    list-style-type: none;
    margin-right: 10px;
}

#main-navigation li {
    display: inline-block;
    margin-left: 20px;
}

#main-navigation a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#main-navigation a.current{
    background: #8f746c;
    border-radius: 4px;
}