/* //////////////////////
// Bikes Website 
// the net ninja CSS course 
// Date : 15/04/2020
/////////////////////////
*/

body{
    font-family: arial;
    margin: 0;
    background-color: #eee;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
    background: #fff;
}